Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-identifier-naming,
  modernize-use-nullptr,
  modernize-use-override,
  -modernize-use-trailing-return-type,
  -modernize-use-auto,
  -modernize-use-default-member-init,
  -modernize-loop-convert,
  -modernize-use-using,
  -modernize-concat-nested-namespaces,
  -readability-identifier-length,
  -readability-braces-around-statements
  

WarningsAsErrors: ''

HeaderFilterRegex: '.*'

FormatStyle: file

CheckOptions:
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
  - key:             modernize-use-override.IgnoreDestructors
    value:           '1'
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionCase
    value:           CamelCase
  - key:             readability-identifier-naming.MethodCase
    value:           CamelCase
  - key:             readability-identifier-naming.PrivateMethodCase
    value:           camelBack
  - key:             readability-identifier-naming.ProtectedMethodCase
    value:           camelBack
  - key:             readability-identifier-naming.PrivateMemberPrefix
    value:           m
  - key:             readability-identifier-naming.ProtectedMemberPrefix
    value:           m
  - key:             readability-identifier-naming.PrivateMemberCase
    value:           CamelCase
  - key:             readability-identifier-naming.ProtectedMemberCase
    value:           CamelCase
  - key:             readability-identifier-naming.VariableCase
    value:           camelBack
  - key:             readability-identifier-naming.GlobalVariableCase
    value:           CamelCase
  - key:             readability-identifier-naming.GlobalConstantCase
    value:           UPPER_CASE